.base-components {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  outline: 2px solid orange;
}

.base-components__item {
  outline: 2px solid green;
}

.base-components__item--city {
  width: 160px;
}

.base-components__item--tours {
  width: 145px;
}

.base-components__item--offers {
  width: 110px;
}

.base-components__item--active {
  background-color: #ec933d;
}

.base-components__item--active .base-components__title{
  color: #ffffff;
}

.base-components__title {
  margin: 0;
  padding: 0;

  font-size: 12px;
}

.base-components__link {
  color: #cdebf5;
}
