.custom-button {
  display: block;

  width: 80px;
  height: 61px;

  font-size: 0;

  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ec933d;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/img/glass.svg');

  cursor: pointer;


  @media @tablet-widths {
    width: 120px;

    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1.1px;

    background-image: none;
  }

  @media @desktop-widths {
    width: 160px;
  }
}

.custom-button span {
  display: none;

  @media @desktop-widths {
    display: inline-block;
  }

}
