.form-components__title {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.form-components {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .list();
}

.form-components__title {
  .list();
  display: none;
}

.form-components__descr {
  margin: 0;
  padding: 0;
}

.form-components__descr--custom {
  width: 95px;
}

.form-components__item {
  display: flex;

  min-height: 60px;

  padding: 0 24px;
  font-size: 14px;

  background-color: #ffffff;
}

.form-components__item--destination {
  width: 240px;

  padding-top: 19px;
  padding-bottom: 20px;

  border-radius: 5px 0  0 5px;
  border-right: 1px solid #dceaef;
}

.form-components__item--data {
  flex-direction: column;
  width: 160px;
  padding: 10px 18px 10px 24px;

  border-right: 1px solid #dceaef;
}

.form-components__item--group,
.form-components__item--tourists {
  width: 160px;
  padding: 10px 18px 10px 24px;
}

.form-components__input {
  font: inherit;
}

.form-components__input >input {
  width: 35px;
  border: none;
}

.form-components__input--checkpoint {
  width: 100%;
  border: none;
}

.form-components__btn {
  font-size: 0;
  border: none;
  background-color: transparent;
}
